@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@200&family=Prompt:wght@300&family=Sarabun:wght@300&display=swap');

html {
  padding: 0;
  margin: 0;
  /* background-color: green; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}
.col-sm-12{
  width: 100%;
}
* {
  touch-action: manipulation;
}





*{
  margin: 0;
  padding: 0;
}
.clear{
  clear: both;
}

.slider1{
  width: 100%;
  font-weight: bold;
  /* border-top: 5px solid rgb(157, 35, 60); */
  /* border-bottom: 5px solid rgb(157, 35, 60); */
  border-radius: 5px;
}
.slider2{
  width: 100%;
  opacity: 0.1;
  border-radius: 5px;
}



